
{% extends 'main.htm' %}
{% block content %}
<!-- make simple div container as blog post -->
{% if posts %}
{% for p in posts %}

    {% if p.post.poster_type == 'user' %}
        <div class="blog-post">
            <div class="d-flex align-items-end flex-column">
                <div class="dropdown" style="margin-right: 60px;">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                
                    {% if p.user.username == request.session.username %}
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'soc:edit_post' p.post.id %}">Edit Post</a>
                            <a class="dropdown-item" href="{% url 'soc:delete_post' p.post.id %}">Delete Post</a>
                        </div>
                    {% else %}
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Report Post</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div><p>post date : {{ p.post.post_date}}</p></div>
            <!-- make a div container for the title -->
            {% if p.post.poster_type == 'user' and p.user.username == request.session.username %}
            <div class="blog-post-title">
                <img src="{{p.user.profile_pic.url}}" alt="pfp" width="50" height="50" style="border-radius: 50%">
                <a href="{% url 'soc:main_profile' p.user.username %}">{{p.user.username|upper}}</a>
        
            </div>
            {% else %}
                <div class="blog-post-title">
                    <!-- make a h1 tag for the title -->
                    <img src="{{p.user.profile_pic.url}}" alt="pfp" width="50" style="border-radius: 50px;">
                    <a href="{% url 'soc:user_main_profile' p.user.id %}">{{p.user.username|upper}}</a>
            
                </div>
            {% endif %}
            <div class="blog-post-body">
                <!-- make a p tag for the body -->
                <h2>{{p.post.post_content}}</h2>
            </div>

            {% if p.post.image %}
                <img src="{{p.post.image.url}}" alt="img" width="500">
            {% endif %}
            
            <!-- make a div container for the body -->
                <form action="{% url 'soc:like_post' %}" method="post">
                    {% csrf_token %}
                    <input type = "hidden" name = "postid" value = {{p.post.id}} />
                    {% if p.liked_by|length != 0 %}
                    <div class="liked_by">
                        <p>Liked By : </p>
                        {% for user in p.liked_by %}
                        <h5>{{ user }}</h5>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-row align-items-center d-flex justify-content-center">
                    <input type = "hidden" name = "page" value = "user_posts" />
                    {% if p.liked_by_me %}
                        <input type = "hidden" name = "like_status" value = "unlike" />
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2" style="border-radius: 50px;background-color: rgb(125, 15, 15); 
                            border-color: rgb(233, 83, 83);width: 50px; height: 50px;">
                                <div style="position: absolute;
                                top:50%;
                                left:50%;
                                transform: translate(-50%, -50%);">
                                    <img src="/media/static/icons/dislike.png" alt="dislike" width="51" height="51" style="margin-bottom: 9px;">
                                </div>
                            </button>
                        </div>
                    {% else %}
                        <div class="col-auto">
                            <input type = "hidden" name = "like_status" value = "like" />
                            <button type="submit" class="btn btn-primary mb-2" style="border-radius: 50px; width: 50px; height: 50px;">
                                <div style="position: absolute;
                                top:50%;
                                left:50%;
                                transform: translate(-50%, -50%);">
                                    <img src="/media/static/icons/like.png" alt="like" width="75" height="75" style="margin-bottom: 9px;">
                                </div>   
                            </button>                       
                        </div>
                    {% endif %}
                    <h5>{{p.liked_by|length}} like </h5>                 
                    </div>
                </form>
            {{p.post.like}}
        
        </div>
    {% endif %}
    {% if posts_count == 0 %}
        <div style="text-align: center;">
            <p>No posts yet</p>
        </div>
    {% endif %}
    

    
{% endfor %}
{% else %}
    <div style="text-align: center;">
        <p>No posts yet</p>
    </div>
{% endif %}
<form action="/logout">
    {% csrf_token %}
    <fieldset style="margin-top: 40px; margin-bottom: 15px;" class="d-flex justify-content-center">
        <button name="submit" type="submit" class="btn btn-danger">Log Out</button>
    </fieldset>
</form>
{% endblock %}